<% users.each do |user| %>
  <div class='row'>
    <div class='col'>
      <p class='lead'> <%= user.first_name %> </p>
    </div>
    <div class='col'>
      <p class='lead'> <%= user.last_name %> </p>
    </div>
    <div class='col-5'>
      <p class='lead'> <%= user.email %> </p>
    </div>
    <div class='col'>
      <p class='lead'> <%= City.find(user.city_id).name %> </p>
    </div>
    <div class='col-2'>
      <p class='lead'> <%= user.programing_language %> </p>
    </div>
  </div>
<% end %>
