<div class="mx-0">
  <p id="notice"><%= notice %></p>
  
  <div class='row m-0'>
    <div class='col-3'>
      <div class='row'>
        <%= render 'cities/cities_list', cities: @filters['cities'] %>
      </div>
      <div class='row'>
        <%= render 'programing_languages_list', languages: @filters['languages'] %>
      </div>
    </div>
    <div class='col-8'>
      <div class='row'>
        <div class='container mt-2'>
          <%= form_with url: search_users_path do |f| %>
            <h1 class='text-center py-3'>Users</h1>

            <div class='input-group'>
              <%= f.text_field :query, placeholder: 'Search', class: 'form-control rounded' %>
              <%= f.submit 'search', data: { disable_with: false }, class: 'btn btn-outline-primary' %>
            </div>
          <% end %>
          <%= render 'search_results', users: @users %>
        </div>
      </div>
    </div>
  </div>

  <br>

  <div class='d-flex justify-content-center'>
    <%= link_to 'New User', new_user_path, class: 'btn btn-success btn-lg px-3 mb-3 lead' %>
  </div>
</div>
