<div class="container">
  <p id="notice"><%= notice %></p>


  <div class="row">
    <%= form_with method: :get do |f| %>
      <div class="container mt-4">
        <h1 class='text-center'>Users</h1>

        <div class="input-group">
          <%= f.text_field :query, placeholder: 'Search', class: 'form-control rounded' %>
          <%= f.submit 'search', data: { disabled: false }, class: 'btn btn-outline-primary' %>
        </div>
      </div>
    <% end %>
    <%= render 'search_results', users: @users %>
  </div>

  <br>

  <div class='d-flex justify-content-center'>
    <%= link_to 'New User', new_user_path, class: 'btn btn-success btn-lg px-3 mb-3 lead' %>
  </div>
</div>
